.App-link {
  color:aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgba(9, 25, 241, 0.301);
  padding: 20px;
}

.header{
  padding: 10px;
}