.App-link {
  color:aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field{
  width: 200px;
  padding-bottom: 10px;
}

.colour-border{
  border: 10px ridge rgba(0, 9, 128, 0.301);
  padding: 20px;
}

.header{
  padding: 30px;
}